body {
  background-color: #ededed;
}
.topOffset {
  margin-top: 70px;
}
@media only screen and (max-device-width: 480px) {
  .text-left-xs {
    text-align: left;
  }
}
.topbanner {
  height: 100vh;
  width: 100%;
  background: #df325a;
  /*background: -moz-radial-gradient(center, ellipse cover, #df325a 0%, #df325a 40%, #161616 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #df325a 0%,#df325a 40%,#161616 100%);
    background: radial-gradient(ellipse at center, #df325a 0%,#df325a 40%,#161616 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df325a', endColorstr='#161616',GradientType=1 );*/
  text-align: center;
  background-image: url(../../Images/wardrobe.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.topbanner .container {
  height: 100%;
}
.topbanner .buttons {
  position: relative;
  margin: auto;
  margin-right: 0;
  height: 100%;
  vertical-align: middle;
}
.topbanner .buttons a {
  margin: auto;
  margin-right: 10px;
}
.topbanner .buttons a:first-child {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -80px;
}
.topbanner .buttons a:last-child {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 120px;
}
@media only screen and (max-device-width: 768px) {
  .topbanner {
    background-position-y: 100px;
  }
  .topbanner .buttons a {
    margin-right: auto;
  }
  .topbanner .buttons a:first-child {
    top: 75%;
    margin-top: 0;
    left: -25%;
  }
  .topbanner .buttons a:last-child {
    margin-top: -52px;
    top: 75%;
    left: 25%;
  }
}
@media only screen and (max-device-width: 480px) {
  .topbanner .buttons a:last-child {
    margin-top: -42px;
  }
}
.ourbutton {
  display: block;
  width: 250px;
  padding: 15px 20px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}
.ourbutton:hover,
a.ourbutton,
a.ourbutton:hover {
  text-decoration: none;
}
@media only screen and (max-device-width: 480px) {
  .ourbutton {
    font-size: 12px;
    width: 150px;
    padding: 10px 5px;
  }
}
.navbar-brand img {
  height: 40px;
  top: -10px;
  position: relative;
}
.navbar-default .navbar-nav > .active > a {
  color: white;
}
hr.lighter {
  border-top: 1px solid #bdb9ba;
}
.section {
  padding-bottom: 50px;
}
.section .heading {
  background-color: #fff;
  padding: 25px 0 10px;
  line-height: 36px;
  font-size: 36px;
  color: #161616;
}
.section .heading .headingtext {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 2px solid #dededb;
  width: 50%;
  margin: auto;
}
.section .content {
  background-color: #fdfdfd;
  padding: 25px 10% 40px;
  margin-bottom: 50px;
}
.section .content .text {
  font-size: 15px;
  line-height: 30px;
  text-align: justify;
}
.m-t-lg {
  margin-top: 30px;
}
.subtitle {
  color: #b9174f;
  font-size: 16px;
}
h3.subtitle {
  font-size: 22px;
}
.reading-link {
  width: 100%;
}
.reading-link p {
  float: left;
  margin-right: 20px;
  min-width: 200px;
}
.overview {
  background-image: url(../../Images/honeycomb_overview.png);
  background-repeat: no-repeat;
  background-position-y: -100px;
  margin-top: -100px;
  padding-top: 100px;
  height: 650px;
  vertical-align: top;
}
.hexagon-1 {
  position: relative;
  display: inline-block;
  width: 360px;
  left: 230px;
  top: 70px;
  color: white;
}
.hexagon-2 {
  position: relative;
  display: inline-block;
  width: 360px;
  left: 290px;
  top: 50px;
  color: white;
}
.hexagon-2 p {
  line-height: 24px;
}
@media only screen and (max-device-width: 1024px) {
  .overview {
    background-image: url(../../Images/honeycomb_overview_small.png);
    height: 750px;
  }
  .hexagon-2 {
    position: relative;
    display: inline-block;
    width: 360px;
    left: 20px;
    top: 210px;
    color: white;
  }
}
.container-fluid.thecoop {
  background-color: #d91b5c;
  height: 250px;
}
.section.thecoop {
  position: relative;
  top: -130px;
}
.section.thecoop .heading {
  border-bottom: 0;
}
.section.thecoop .heading .span {
  width: 50%;
  margin: auto;
  border-bottom: 2px solid #dededb;
}
.container-fluid.video1 {
  background-color: #111;
  padding: 90px 0 45px;
  text-align: center;
}
.container-fluid.video1 h2 {
  color: #dededb;
  margin-top: -25px;
}
@media only screen and (max-device-width: 769px) {
  .container-fluid.video1 h2 {
    font-size: 14px;
  }
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 50px;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (min-device-width: 769px) {
  .embed-container {
    max-width: 80%;
    margin: 0 auto 50px auto;
  }
}
.spacer {
  width: 100%;
  text-align: center;
  padding: 35px 0;
  border-bottom: solid 1px #e6e6e6;
  background-color: #fff;
}
.dropshadow {
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 10px;
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
}
/*@button-shadow: rgba(244, 233, 43, 0.62) 2px 2px 10px;
@reg-righbot: #333 solid 2px;
@reg-lefttop: #777 solid 1px;*/
.register-button {
  background-color: #ffd200;
  border-left: #997e00 solid 1px;
  border-top: #997e00 solid 1px;
  border-right: #997e00 solid 1px;
  border-bottom: #997e00 solid 1px;
}
.register-button:hover {
  background-color: #e0b900;
}
.prospectus-button {
  background-color: #f6f6f6;
  border-left: #c3c3c3 solid 1px;
  border-top: #c3c3c3 solid 1px;
  border-right: #c3c3c3 solid 1px;
  border-bottom: #c3c3c3 solid 1px;
}
.prospectus-button:hover {
  background-color: #e7e7e7;
}
.learnContainer {
  background-image: url("../Images/bluecomb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 92vh;
}
.eoicontainer {
  background-image: url("../Images/wardrobe_bw.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.container-fluid img.backimg {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: -999;
}
.container-fluid img.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.panel-body {
  background-color: rgba(248, 248, 248, 0.85);
}
.moveindicator {
  position: absolute;
  margin: 0 auto;
  bottom: 20px;
  z-index: 9999;
  width: 100%;
  color: #be1850;
}