<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Properties -->
    <title>bHive Learning</title>

    <link href="https://fonts.googleapis.com/css?family=Proza+Libre|Slabo+27px" rel="stylesheet">

    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/custom.min.css?v=1.1" rel="stylesheet" />
    <!--
    To collect end-user usage analytics about your application,
    insert the following script into each page you want to track.
    Place this code immediately before the closing </head> tag,
    and before any other scripts. Your first data will appear
    automatically in just a few seconds.
    -->
    <script type="text/javascript">
  var appInsights=window.appInsights||function(config){
    function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t
    }({
        instrumentationKey:"6aa861c3-0197-4015-865f-3b7de0e27116"
    });

    window.appInsights=appInsights;
    appInsights.trackPageView();
    </script>
</head>
<body ng-app="app">
    <!-- Following Menu -->
    <nav class="navbar navbar-default navbar-fixed-top learntopcolor">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="Images/logo2.png" alt="bHive" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="index.html#pitchNight">Pitch Night</a></li>
                    <li class="active"><a href="#">Learn More</a></li>
                    <li><a href="register.html">Contact Us</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="topOffset"></div>
    <!-- Page Contents -->
    <div class="container-fluid text-center learnContainer" ng-controller="LearnController as ctrlLearn">
        <!--<img src="Images/bluecomb.jpg" class="backimg img-responsive" />-->
        <br />
        <br />
        <div class="section">
            <div class="container">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        What is a Platform Cooperative?
                    </div>
                    <div class="panel-body">
                        <div class="row" ng-repeat="item in ctrlLearn.whatis">
                            <div class="col-sm-4 text-right text-left-xs">
                                {{item.author}}
                            </div>
                            <div class="col-sm-offset-0 col-sm-8 text-left col-xs-11 col-xs-offset-1">
                                <a href="{{item.link}}" target="_blank">{{item.title}}</a>
                            </div>
                            <div class="visible-xs">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        What is the Collaborative Economy?
                    </div>
                    <div class="panel-body">
                        <div class="row" ng-repeat="item in ctrlLearn.economy">
                            <div class="col-sm-4 text-right text-left-xs">
                                {{item.author}}
                            </div>
                            <div class="col-sm-offset-0 col-sm-8 text-left col-xs-11 col-xs-offset-1">
                                <a href="{{item.link}}" target="_blank">{{item.title}}</a>
                            </div>
                            <div class="visible-xs">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Talks and Podcasts on the new Distributed Economy
                    </div>
                    <div class="panel-body">
                        <div class="row" ng-repeat="item in ctrlLearn.talks">
                            <div class="col-sm-4 text-right text-left-xs">
                                {{item.author}}
                            </div>
                            <div class="col-sm-offset-0 col-sm-8 text-left col-xs-11 col-xs-offset-1">
                                <a href="{{item.link}}" target="_blank">{{item.title}}</a>
                            </div>
                            <div class="visible-xs">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="App/app.js"></script>
   
</body>
</html>
